<%- include('../partials/admin-nav'); -%>
    <style type="text/css">
        .form-style-1 {
            margin: 10px auto;
            max-width: 600px;
            padding: 20px 12px 10px 20px;
            font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        }

        .form-style-1 li {
            padding: 0;
            display: block;
            list-style: none;
            margin: 10px 0 0 0;
        }

        .form-style-1 label {
            margin: 0 0 3px 0;
            padding: 0px;
            display: block;
            color:#42424a;
            font-weight: bold;
        }

        .form-style-1 input[type=text],
        .form-style-1 input[type=date],
        .form-style-1 input[type=datetime],
        .form-style-1 input[type=number],
        .form-style-1 input[type=search],
        .form-style-1 input[type=time],
        .form-style-1 input[type=url],
        .form-style-1 input[type=datetime-local],
        textarea,
        select {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            border: 1px solid #BEBEBE;
            padding: 7px;
            margin: 0px;
            -webkit-transition: all 0.30s ease-in-out;
            -moz-transition: all 0.30s ease-in-out;
            -ms-transition: all 0.30s ease-in-out;
            -o-transition: all 0.30s ease-in-out;
            outline: none;
        }

        .form-style-1 input[type=text]:focus,
        .form-style-1 input[type=date]:focus,
        .form-style-1 input[type=datetime]:focus,
        .form-style-1 input[type=number]:focus,
        .form-style-1 input[type=search]:focus,
        .form-style-1 input[type=time]:focus,
        .form-style-1 input[type=url]:focus,
        .form-style-1 input[type=datetime-local]:focus,
        .form-style-1 textarea:focus,
        .form-style-1 select:focus {
            -moz-box-shadow: 0 0 8px #88D5E9;
            -webkit-box-shadow: 0 0 8px #88D5E9;
            box-shadow: 0 0 8px #88D5E9;
            border: 1px solid #88D5E9;
        }

        .form-style-1 .field-divided {
            width: 49%;
        }

        .form-style-1 .field-long {
            width: 100%;
        }

        .form-style-1 .field-select {
            width: 100%;
        }

        .form-style-1 .field-textarea {
            height: 100px;
        }

        .form-style-1 input[type=submit],
        .form-style-1 input[type=button] {
            background: #4B99AD;
            padding: 8px 15px 8px 15px;
            border: none;
            color: #fff;
        }

        .form-style-1 input[type=submit]:hover,
        .form-style-1 input[type=button]:hover {
            background: #4691A4;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
        }

        .form-style-1 .required {
            color: red;
        }
    </style>

    <form method="post" action="/admin/flight">
        <ul class="form-style-1">
            <h2 class="mt-5 mb-4">Add new Flight</h2>
            <li>
                <label>Airports <span class="required">*</span></label>
                <select name="from" class="field-divided" placeholder="From" />
                 <option value="" disabled selected hidden>Source Airport</option>

                 <% Names.forEach(function(name) { %>
                    <option value="<%=name %>"><%= name %> </option>
                <%})%>


                </select>
                <select name="to" class="field-divided" placeholder="To" /> 
                 <option value="" disabled selected hidden>Destination Airport</option> 
                 <% Names.forEach(function(name) { %>
                    <option value="<%=name %>"><%= name %> </option>
                <%})%>
                </select>
                
                
            </li>
            <li>
                <label>Timings <span class="required">*</span></label>
                <input type="text" name="departure" class="field-divided time-picker" placeholder="departure"/>
                <input type="text" name="arrival" class="field-divided time-picker" placeholder="arrival"/>
            </li>
            <li>
                <label>Economy<span class="required">*</span></label>
                
                <input type="text" name="econ-total" class="field-divided" placeholder="Total Seats"/>
                <input type="text" name="econ-fare" class="field-divided" placeholder="Seat Fare"/>
            </li>
            <li>
                <label>Business<span class="required">*</span></label>
                
                <input type="text" name="business-total" class="field-divided" placeholder="Total Seats"/>
                <input type="text" name="business-fare" class="field-divided" placeholder="Seat Fare"/>
            </li>
            <li>
                <label>Airplane</label>
                
                <input type="text" name="airplane" class="field-divided" placeholder="Name of Plane"/>
            </li>
            <li>
                <input type="submit" value="Add Flight" />
            </li>
        </ul>
    </form>

    <script src="/scripts/admin.js"></script>
    <%- include('../partials/admin-footer'); -%>